#time-slider
{
    height: 40%;
    width: 100%;
    overflow-y: scroll;
}
#time-slider label
{
    margin-bottom: -8px;
}
#time-slider input
{
    margin-top: -10%;
}

#ready-queue
{
    width: 100%;
    height: 60%;
    overflow-x: scroll;
}

#ready-queue p
{
    position: absolute;
}

.process_in_queue
{
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    border: 1px solid black;
}

.process_in_queue span
{
    font-weight: bold;
    position: relative;
    top: 40%;
}