#arrive_time_form
{
    float: right;
    width: 70%;
    height: 35%;
}
#arrive_time_form input
{
    text-align: center;
    height: 100%;
}

#deadline_form
{
    float: right;
    width: 30%;
    height: 70%;
}
#deadline_form input
{
    text-align: center;
    height: 100%;
}



#burst_time_form
{
    float: right;
    width: 70%;
    height: 35%;
}
#burst_time_form input
{
    text-align: center;
    height: 100%;
}
#process_add_btn
{
    height: 30%;
    width: 100%;
}